.cq-file-upload {
  margin: 100px;
  border-style: solid;
  border-color: rgb(187, 20, 151);
  border-width: 10px;
  text-align: center;
  text-transform: capitalize;
  color: rgb(187, 20, 151);
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

.cq-file-upload:hover {
  border-color: black;
  background-color: rgb(187, 20, 151);
  color: black;
}