.cq-file-upload {
  margin: 100px;
  border-style: solid;
  border-color: rgb(187, 20, 151);
  border-width: 10px;
  text-align: center;
  text-transform: capitalize;
  color: rgb(132, 0, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 15px;
  font-weight: bold;
}