html,
body {
  margin: 0;
  padding: 0;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) and (max-width: 924px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 925px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

#main {
  //background: linear-gradient(to bottom right, #e31e98 -15%, #827c82 68%);
  min-width: 100vw;
  left: 0;
  background: linear-gradient(to top left, #e31e98 -34%, #827c82 47%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  min-height: 75vh;

  @include for-phone-only {
    display: flex;
  }

  #mainpglogo {
    width: 9rem;
    height: auto;
    align-self: center;
    position: relative;
  }

  #mainqoala {
    width: 5rem;
    height: auto;
    align-self: center;
    padding-right: 1.5rem;
    position: relative;
    vertical-align: sub;
    @include for-phone-only {
      margin-top: 2rem;
      margin: auto 0;
      width: 3.5rem;
      height: auto;
    }
  }

  #missionstatement {
    align-self: center;
    font-weight: 800;
    font-family: "Manjari";
    font-size: 5rem;
    color: rgba(243, 239, 239, 0.89);
    font-size: 1.2em;
    @include for-phone-only {
      font-size: 0.7em;
      margin-top: 0.1rem;
    }
  }

  #title {
    align-self: center;
    font-weight: 800;
    font-family: "Manjari";
    font-size: 5rem;
    color: rgba(243, 239, 239, 0.89);
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    height: 6rem;
    @include for-phone-only {
      font-size: 1.8em;
      margin-top: 5rem;
      margin-bottom: 0.2rem;
    }
  }

  p {
    align-self: center;
    font-weight: 800;
    font-family: "Manjari";
    font-size: 5rem;
    color: rgba(243, 239, 239, 0.89);
    @include for-phone-only {
      font-size: 1.99em;
      margin-top: 5rem;
    }
  }

  span {
    font-size: 6rem;
    font-weight: 900;
    align-self: center;
    @include for-phone-only {
      font-size: 1.5em;
      margin: auto 0;
    }
  }
  #starp {
    font-size: 1rem;
    display: inline-block;
    font-weight: 400;
    align-self: center;
    margin-top: 5rem;
    @include for-phone-only {
      font-size: 1em;
      margin-top: 5rem;
    }
  }

  #starp {
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 400;
    align-self: center;
    @include for-phone-only {
      align-content: center;
      font-size: 1.3em;
      margin-top: 5rem;
    }

    a {
      align-self: center;
      text-decoration: none;
    }

    #gitbutton {
      padding: 0.2rem 0.4rem;
      line-height: 0.1rem;
      border-radius: 5px;
      vertical-align: top;
      @include for-phone-only {
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        padding: 0.1rem 0.1rem;
        font-size: 0.3rem;
        line-height: 1.3;
        border-radius: 0.25rem;
      }
    }
  }

  #downloadbutton {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .star {
    width: 1em;
    height: auto;
    margin-right: 0.3em;
    align-self: center;
  }

  #npmbutton {
    display: inline-block;
    font-weight: 400;
    color: #f8f8ff;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #f8f8ff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    width: auto;
    border-radius: 0.25rem;

    @include for-phone-only {
      display: inline-block;
      font-weight: 400;
      color: #f8f8ff;
      text-align: center;
      vertical-align: middle;
      background-color: transparent;
      border: 1px solid #f8f8ff;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
    }
  }

  #npmbutton:hover {
    color: black;
    background-color: white;
  }
}
