#navbar {
  background-color: #171c1fe8;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  min-width: 100vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 15rem 15rem;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 0 10px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 5px 10px 20px -20px white;
}

#navBarQL {
  height: 2.4rem;
  margin-left: 1.3rem;
}

#navbarupload {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  display: inline-block;
  color: #666666;
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  text-decoration: none;
}
#navbarupload:hover {
  color: #e31e98;
}

#navbardownload {
  border-radius: 3px;
  // margin-top: 1rem;
  margin-left: auto;
  background-color: #e31e98;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

#rightnav {
  margin-right: 1.3rem;
}
